{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>CLIMMOB - My private page</title>
{% endblock title %}

{% block pageheading %}

{% endblock %}

{% block body %}
    <h2>My body goes here</h2>
{% endblock body %}